<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container about-wrapper">
        <img src="static/group.png" style="cursor: default;" align="center">
        <h1>OM</h1>
        <p>Baljangåvan är en webbshopp som uppmuntrar studenter vid Linköpings universitet (eller anhöriga till studenter) att sätta guldkant på
            någon i ens närhets vardag.</p><br/>
        <p>Baljangåvan erbjuder fint inslagna gåvor innehållande högkvalitativt fika från Baljan. Gåvorna finns i en rad olika varianter med olika fikainnehåll för att
            passa alla typer av tillfällen. </p><br/>
        <p>Baljangåvan drivs av kreatörerna Sophie, Filip, Marcus, Herman, Felicia, Eirik, Joakim och Tomas. Vårat mål är att med hjälp av Baljangåvan
        kunna sprida mer glädje bland studenter vid Linköpings universitet.</p>
    </div>
</body>
</html>