<script src="/static/js/admin_giftbox.js"></script>
<div id="giftbox-list" class="list-group">
    {% for giftbox in giftboxs %}
        <a href="#" data-giftbox-id="{{ giftbox.id }}" class="list-group-item list-group-item-action flex-column align-items-start giftbox">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ giftbox.name }}</h5>
				<small>{{ giftbox.description }}</small><br>
                <small>{{ giftbox.price }} kr</small>
            </div>
        </a>
    {% endfor %}
</div>
<div id="giftbox-div"></div>
<button id='add-giftbox'>Lägg till gåva</button>
