<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Baljangåvan</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/products.css">
    <link rel="stylesheet" type="text/css" href="/static/css/guide.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/admin_giftbox.css">
    <link rel="stylesheet" type="text/css" href="/static/css/about.css">
    <link rel="stylesheet" type="text/css" href="/static/css/faq.css">
    <link rel="stylesheet" type="text/css" href="/static/css/contact.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
          integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!--[endif]-->
</head>
<body class="color">

{% block nav %}
    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <header>
        <div class="container">
            <a class="nav-button logo-text clickable" id="logotype" href="/">Baljangåvan</a>
            <nav>
                <ul>
                    {% if not current_user.is_anonymous %}
                        <li>
                            <a data-toggle="tooltip" title="Redigera admin användare" href="/baljan/users"
                               class="nav-button clickable uppercase" id="admin-users">Baljörer</a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" title="Redigera ordrar" href="/baljan/orders"
                               class="nav-button clickable uppercase" id="admin-orders">Ordrar</a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" title="Redigera gåvor" href="/baljan/giftboxs"
                               class="nav-button clickable uppercase" id="admin-giftboxs">Gåvor</a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" title="Redigera produkter" href="/baljan/products"
                               class="nav-button clickable uppercase" id="admin-products">Produkter</a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" title="Redigera köpare" href="/baljan/buyers"
                               class="nav-button clickable uppercase" id="admin-buyers">Köpare</a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" title="Redigera mottagare" href="/baljan/receivers"
                               class="nav-button clickable uppercase" id="admin-receivers">Mottagare</a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" title="Tillbaka till start" href="{{ url_for('logout_admin') }}"
                               class="nav-button" id="logout">Tillbaka</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/products" class="nav-button clickable uppercase" id="products">Gåvor</a>
                        </li>
                        <li class="nav-item">
                            <a href="/guide" class="nav-button clickable uppercase" id="guide">Så funkar det</a>
                        </li>
                        <li class="nav-item">
                            <a href="/order_info" class="nav-button clickable uppercase"
                               id="order_status">Orderstatus</a>
                        </li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

{% endblock %}

<div id="main-container-wrapper">
    <div class="container" id="main-container">
        {% block content %}
        {% endblock %}
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3" align="center">
                <h3>Handla</h3>
                <a href="/products" class="nav-button clickable-footer" id="products">Gåvor</a><br>
                <a href="/guide" class="nav-button clickable-footer" id="guide">Så funkar det</a><br>
            </div>
            <div class="col-md-3" align="center">
                <h3>Mer info</h3>
                <a href="/order_info" class="nav-button clickable-footer" id="order_status">Orderstatus</a><br>
                <a href="/about" class="nav-button no-underline" id="about">Vilka är vi?</a><br>
                <a href="/faq" class="nav-button no-underline" id="faq">Vanliga frågor</a><br>
                <a href="/contact" class="nav-button no-underline" id="contact">Kontakt</a><br>
            </div>
            <div class="col-md-6" align="center">
                <h3 class="uppercase">Om Baljangåvan</h3>
                <p>Med Baljangåvan kan du enkelt skicka en fika till nära och kära på universitetet. Allt du behöver
                    göra är att skriva mottagarens nummer så löser vi resten.</p>
                <div>
                    <a target="_blank" title="Följ oss på Facebook"
                       href="https://www.facebook.com/Baljangåvan-1041546605997965/">
                        <img class="social-media" alt="Följ oss på Facebook" src="static/socialMedia/facebook_icon.png">
                    </a>
                    <a target="_blank" title="Följ oss på Snapchat" href="https://www.snapchat.com/add/baljangavan">
                        <img class="social-media" alt="Följ oss på Snapchat" src="static/socialMedia/snapchat_icon.png">
                    </a>
                    <a target="_blank" title="Följ oss på Instagram" href="https://www.instagram.com/baljangavan/">
                        <img class="social-media"alt="Följ oss på Instagram" src="static/socialMedia/instagram_icon.png" >
                    </a>
                </div>
            </div>
        </div>
        <div class="legality">©Baljangåvan 2018</div>
    </div>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/page/page.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/js/users.js"></script>

</body>
</html>
