<link href="/static/css/card.css" rel="stylesheet" type="text/css">


<div id="hider"></div>
<div id="swish">
    <div id="swish-image-wrapper">
        <img id="swish-image" src="static/swish.png">
        <div id="swishPayement">Betalning genomförd!</div>
        <div id="swish-content">
            <h2 id="swishGiftbox"><b>{{ gift_box.name }}</b></h2>
            <p id="swishPrice"> Pris: {{gift_box.price}}kr </p>
        </div>
        <form id="swish-phone-form">
            <div id="input-wrapper">
                <input id="buyer-phone" type="text" class="swish-phone-input" placeholder="Ange ditt telefonnummer">
            </div>
            <div class="error-text" id="swishNumber-error" style="font-size: 0.8vw">Du måste ange ett korrekt
                telefonnummmer.
            </div>

            <div id="submit-wrapper">
                <input class="disabled" id="submit-input" type="submit" value="Betala">
            </div>
        </form>
        <div id="loaderMain">
            <div id="loader"></div>
            <p>Öppna Swish</p>
        </div>

    </div>

    <div id="swish-footer">
        <button id="closeSwish">Stäng</button>
    </div>
</div>

<div class="row" id="mainCard">
    <div class="col-md-6 gift-information">
        <div class="header">
            <h2 class="uppercase"><b>{{ gift_box.name }}</b></h2>
        </div>
        <p class="description">{{ gift_box.description }}</p>
        <p> Pris: {{ gift_box.price }}kr </p>
        <p> Gåvan innehåller: </p>
        {% for product in products %}
            <p>{{ product[0] }} {% if product[1] != "" %}(innehåller {{ product[1] }}) {% endif %}</p>
        {% endfor %}
        <p>Utöver produkterna ovan innehåller gåvan ett kort med ett personligt meddelande.
            Gåvan slås in i ett fint paket.</p>
    </div>

    <div class="col-md-6">
        <img src="{{ gift_box.image }}" alt="Lights" class="image current-product">
    </div>

    <h2>Skicka denna gåva till någon du tycker om</h2>

    <div class="card-container">
        <form action="/api/v1/payment_completed" id="orderForm">
            <input id="stripe-data-amount" type="hidden" value={{ gift_box.price * 100 }}>
            <input id="stripe-data-name" type="hidden"  value="{{ gift_box.name }}">
            <input id="stripe-data-image" type="hidden"  value="{{ gift_box.image }}">
            <input id="giftbox" type="hidden" value={{ gift_box.id }}>
            <input id="giftbox-price" type="hidden" value={{gift_box.price*100}}>
            <div class="row">
                <div class="col-25">
                    <label for="name">Ditt namn</label>
                </div>
                <div class="col-75">
                    <input type="text" class="inputfield" id="name" name="name" placeholder="Ditt namn">
                    <div class="error-text" id="name-error">Du måste fylla i ditt namn.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="rec-name">Mottagarens namn</label>
                </div>
                <div class="col-75">
                    <input type="text" class="inputfield" id="rec-name" name="rec-name" placeholder="Mottagarens namn">
                    <div class="error-text" id="rec-name-error">Du måste fylla i mottagarens namn.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="phonenumber">Mobilnummer till mottagare</label>
                </div>
                <div class="col-75">
                    <input type="text" class="inputfield" id="phonenumber" name="phonenumber"
                           placeholder="Mottagarens telefonnummer"> </input>
                    <div class="error-text" id="phonenumber-error">Du måste ange ett korrekt telefonnummmer.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="email">Din epostadress</label>
                </div>
                <div class="col-75">
                    <input type="text" class="inputfield" id="email" name="email"
                           placeholder="Din email"> </input>
                    <div class="error-text" id="email-error">Du måste ange en korrekt epostaddress.</div>

                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="message">Meddelande</label>
                </div>
                <div class="col-75">
                    <textarea id="message" name="message" placeholder="Skriv din hälsning"></textarea>
                </div>
            </div>
        </form>
        <div style="position: relative">
            <button class="button button1 disabled" type="button"
                    style="height: 6em; width: 6em; position: absolute; z-index: 1; top: 0em; left: 0em; margin-left: -1.1em; margin-top: 1em;"
                    id="stripeButton">
                Betala med kort
            </button>
            <img alt="Betala med Stripe" src="static/credit_card_icon.png"
                 style="height: 5em; width: 5em; position: absolute; z-index: 0; top: 0em; left: 0em; margin-left: -0.7em; margin-top: 1em;">
        </div>

        <div style="position: relative; padding-bottom: 6em">
            <button class="button button1 disabled" type="button"
                    style="height: 6em; width: 6em; position: absolute; z-index: 1; top: 0em; left: 8em; margin-left: -1.1em; margin-top: 1em;"
                    id="swish-button">Betala med Swish
            </button>
            <img alt="Betala med Swish" src="/static/swishicon2.png"
                 style="height: 6em; width: 6em; position: absolute; z-index: 0; top: 0em; left: 8em; margin-left: -1.1em; margin-top: 1em;">
        </div>


    </div>

</div>

<script src="/static/js/card.js"></script>

