<link href="/static/css/card.css" rel="stylesheet" type="text/css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div id="hider"></div>
<div id="swish">
    <div style="height: 25em">
         <img id="swishImage" src="static/swish.png">
    <div id="swishPayement">Betalning genomförd!</div>
    <div id="swishContent">
        <h2 id="swishGiftbox"><b>{{ gift_box.name }}</b></h2>
        <p id="swishPrice"> Pris: {{ gift_box.price }}kr </p>
    </div>
    <form id="swishPhone-form" style="width: 100%">
        <div style="width: 100%; alignment: center" >
            <input id="buyerPhone" type="text" placeholder="Ange ditt telefonnummer" style="font-size: 1.2vw;
                     border: 0; width: 80%; white-space: nowrap; border-bottom: 2px solid black; text-align: center; border-radius: 0">
        </div>

        <div style="width: 13.5em; padding-top: 1em">
        <input type="submit" value="Betala" style="background-color: #38A7E5; font-size: 1.5vw;
                    color: #FFFFFF; border: 0;">
        </div>
    </form>
    <div id="loaderMain">
        <div id="loader"></div>
        <p>Öppna Swish</p>
    </div>

    </div>

    <div id="swishFooter">
            <button id="closeSwish" style="background-color: #38A7E5; font-size: 1vw;
                    color: #FFFFFF; border: 0; border-radius: 0.3vw">Stäng</button>
    </div>
</div>

<div class="row" id="mainCard">
    <div class="col-md-6">
        <div class="header">
            <h2><b>{{ gift_box.name }}</b></h2>
        </div>
        <p>{{ gift_box.description }}</p>
        <p> Pris: {{ gift_box.price }}kr </p>
       {# <p> Allergen: {{ gift_box.allergen }} </p>
        <p>&#10003; Glutenfri
        <p>&#10005; Laktosfri#}

    </div>

    <div class="col-md-6">
        <img src="{{ gift_box.image }}" alt="Lights" class="image current-product">
    </div>

    <h2>Skicka denna vara till din nära!</h2>
    <p>Fyll i följande formulär:</p>

    <div class="container">
        <form action="/api/v1/payment_completed" id="orderForm">
            <div hidden class="row">
                <div class="col-75">
                    <input type="text" id="giftbox" name="giftbox" value={{gift_box.id}}>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="name">Ditt namn</label>
                </div>
                <div class="col-75">
                    <input type="text" id="name" name="name" placeholder="Ditt namn">
                    <div class="error-text" id="name-error">Du måste fylla i ditt namn.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="rec-name">Mottagarens namn</label>
                </div>
                <div class="col-75">
                    <input type="text" id="rec-name" name="rec-name" placeholder="Mottagarens namn">
                    <div class="error-text" id="rec-name-error">Du måste fylla i mottagarens namn.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="phonenumber">Mobilnummer till mottagare</label>
                </div>
                <div class="col-75">
                    <input type="text" id="phonenumber" name="phonenumber"
                           placeholder="Mottagarens telefonnummer"> </input>
                    <div class="error-text" id="phonenumber-error">Du måste ange ett korrekt telefonnummmer.</div>
                </div>
            </div>

             <div class="row">
                <div class="col-25">
                    <label for="email">Din epostadress</label>
                </div>
                <div class="col-75">
                    <input type="text" id="email" name="email"
                           placeholder="Din email"> </input>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="message">Meddelande</label>
                </div>
                <div class="col-75">
                        <textarea id="message" name="message" placeholder="Skriv din hälsning"
                                  style="height:100px"></textarea>
                </div>
            </div>
            <div class="row" float="right">
                <form action="/api/v1/payment_completed" method="POST" id="stripeForm">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                            data-amount="{{ gift_box.price * 100 }}"
                            data-currency="SEK"
                            data-name="{{ gift_box.name }}"
                            data-image="{{ gift_box.image }}"
                            data-locale="sv"
                            data-label="Betala med kort"
                            data-panel-label="Betala"
                            data-zip-code="false">
                    </script>
                </form>
            </div>
        </form>
        <button type="button" class="stripe-button-el" style="visibility: visible; margin-left: -1.1em; margin-top: 1em" id="swishButton">
        <span style="display: block; min-height: 30px">Betala med Swish</span>
        </button>
    </div>
</div>




<script src="/static/js/card.js"></script>


