
<div class="container wrapper">
    <div class="row">
        <div class="col-md-12 title-wrapper">
            <h1>Kontakt </h1>
            <p>Hur vill du kontakta oss?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-0 center-div center-div">
            <a target="_blank" title="Kontakta oss på Facebook" href="https://www.facebook.com/Baljangåvan-1041546605997965/">
                <img alt="Kontakta oss på Facebook" src="static/socialMedia/facebook_icon.png" class="contact-img" id="facebook">
                <p class="contact-text-short">Facebook</p>
            </a>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-0 center-div">
            <a target="_blank" title="Kontakta oss på Instagram" href="https://www.instagram.com/baljangavan/">
                <img alt="Kontakta oss på Instagram" src="../static/socialMedia/instagram_icon.png" class="contact-img" id="instagram">
                <p class="contact-text-short">Instagram</p>
            </a>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-0 center-div">
            <a target="_blank" title="Kontakta oss på Snapchat" href="https://www.snapchat.com/add/baljangavan">
                <img alt="Kontakta oss på Facebook" src="../static/socialMedia/snapchat_icon.png" class="contact-img" id="snapchat">
                <p class="contact-text-short">Snapchat</p>
        </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-0 center-div">
            <img alt="Kontakta oss med e-post" src="../static/icons/contact/e_mail.png" class="contact-img" id="e-mail">
            <p class="contact-text-short">E-post</p>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-0 center-div">
            <img alt="Kontakta oss över telefon" src="../static/icons/contact/phone.png" class="contact-img" id="phone">
            <p class="contact-text-short">Telefon</p>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-0 center-div">
            <img alt="Kontakta oss med post" src="../static/icons/contact/mail.png" class="contact-img" id="mail">
            <p class="contact-text-short">Post</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-4 col-xs-offset-0 center-div">
            <div class="centered explanation-wrapper" id="e-mail-info">
                <div class="vl"></div>
                <div class="contact-info-email">
                    <a target="_blank" title=baljangavan@gmail.com" href="mailto: baljangavan@gmail.com">
                        <p>baljangavan<br>@gmail.com</p>
        </a>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-0 center-div">
            <div class="centered explanation-wrapper" id="phone-info">
                <div class="vl"></div>
                <div class="contact-info-phone">
                    <p>013-28 28 82</p>
        </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-0 center-div">
            <div class="centered explanation-wrapper" id="mail-info">
                <div class="vl"></div>
                <div class="contact-info-post">
                    <p>Baljan, Kårallen <br>
                    Studievägen 124 <br>
                    581 83 Linköping <br>
                    Sverige</p>
        </div>
    </div>
</div></div>
</div>
 <div>
     <iframe style="display:block; margin-right: auto; margin-left: auto"
             width="600"
             height="400"
             frameborder="0"
             style="border:0"
             src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBkOWmT_CRBNwu553KTsBgTpgxGLMgr2AA
             &q=Sektionscafé+Baljan,Linkoping
             &attribution_source=Google+Maps+Embed+API" allowfullscreen>
     </iframe>
 </div>

<script src="/static/js/contact.js"></script>