
<div class="container-fluid" id="list-container">
    <div>
        <div class="col-md-12 title-wrapper">
            <h1>Kontakt </h1>
            <p>Hur vill du kontakta oss?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <a target="_blank" title="Kontakta oss på Facebook" href="https://www.facebook.com/Baljangåvan-1041546605997965/">
                <img alt="Kontakta oss på Facebook" src="static/socialMedia/facebook_icon.png" class="contact-img" id="facebook">
                <p class="contact-text-short">Facebook</p>
            </a>
        </div>
        <div class="col-md-2">
            <a target="_blank" title="Kontakta oss på Instagram" href="https://www.instagram.com/baljangavan/">
                <img alt="Kontakta oss på Instagram" src="../static/socialMedia/instagram_icon.png" class="contact-img" id="instagram">
                <p class="contact-text-short">Instagram</p>
            </a>
        </div>
        <div class="col-md-2">
            <a target="_blank" title="Kontakta oss på Snapchat" href="https://www.snapchat.com/add/baljangavan">
                <img alt="Kontakta oss på Facebook" src="../static/socialMedia/snapchat_icon.png" class="contact-img" id="snapchat">
                <p class="contact-text-short">Snapchat</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <img alt="Kontakta oss med e-post" src="../static/icons/contact/e_mail.png" class="contact-img" id="e-mail">
            <p class="contact-text-short">E-post</p>
        </div>
        <div class="col-md-2">
            <img alt="Kontakta oss över telefon" src="../static/icons/contact/phone.png" class="contact-img" id="phone">
            <p class="contact-text-short">Telefon</p>
        </div>
        <div class="col-md-2">
            <img alt="Kontakta oss med post" src="../static/icons/contact/mail.png" class="contact-img" id="mail">
            <p class="contact-text-short">Post</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2 col-sm-1 col-xs-1">
            <div class="centered explanation-wrapper" id="e-mail-info">
                <div class="vl"></div>
                <div class="contact-info">
                    <p>baljangavan@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-1 col-xs-1">
            <div class="centered explanation-wrapper" id="phone-info">
                <div class="vl"></div>
                <div class="contact-info">
                    <p>013-28 28 82</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-1 col-xs-1">
            <div class="centered explanation-wrapper" id="mail-info">
                <div class="vl"></div>
                <div class="contact-info">
                    <p>Baljan, Kårallen</p>
                    <p>Studievägen 124</p>
                    <p>581 83 Linköping</p>
                    <p>Sverige</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/contact.js"></script>