<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container wrapper">
    <div class="row">
        <div class="col-md-12 title-wrapper">
            <h1>FAQ</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 faq-wrapper">
            <p class="question">Hur vet jag att att mottagaren har fått en gåva?</p><br/>
            <p class="answer">Du får ett mail när mottagaren hämtat ut sin gåva i Baljan. Mailet kommer till den
                mailadress du anggav när du köpte gåvan.</p><br/>
            <p class="question">Kan mottagare byta ut delar av innehållet i gåvan mot likvärdiga produkter?</p><br/>
            <p class="answer">Om Baljan har andra produkter i sitt sortiment som mottagaren hellre vill ha finns
                möjligheten att byta ut delar av gåvans innehåll.</p>
            <div class="col-md-12">
            </div>
        </div>
</body>
</html>
