<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container wrapper">
    <div class="row">
        <div class="col-md-12 title-wrapper">
            <h1>Här är några vanliga frågor om Baljangåvan. </h1>
        </div>
    </div>

    <!--question 1 -->
<div class="faq-wrapper">
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 question-wrapper">
            <p class="question">Hur vet jag att att mottagaren har fått sin gåva?</p>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 plus" id="plus-1">
            <p><strong>+</strong></p>
        </div>
         <div class="col-md-1 col-sm-1 col-xs-1 minus" id="minus-1">
            <p><strong>-</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 answer-wrapper" id="answer-1">
             <p class="answer">Du får ett mail när mottagaren hämtat ut sin gåva i Baljan. Mailet kommer till den
                 mailadress du anggav när du köpte gåvan.</p>
        </div>
    </div>
    <!--question 2 -->
     <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 question-wrapper">
            <p class="question">Kan mottagare byta ut delar av innehållet i gåvan mot likvärdiga produkter?</p>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 plus" id="plus-2">
            <p><strong>+</strong></p>
        </div>
         <div class="col-md-1 col-sm-1 col-xs-1 minus" id="minus-2">
            <p><strong>-</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 answer-wrapper" id="answer-2">
             <p class="answer">Om Baljan har andra produkter i sitt sortiment som mottagaren hellre vill ha finns
                    möjligheten att byta ut delar av gåvans innehåll.</p>
        </div>
    </div>
    <!--question 3 -->
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 question-wrapper">
            <p class="question">Hur lång tid tar det tills mottagaren får gåvan?</p>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 plus" id="plus-3">
            <p><strong>+</strong></p>
        </div>
         <div class="col-md-1 col-sm-1 col-xs-1 minus" id="minus-3">
            <p><strong>-</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 answer-wrapper" id="answer-3">
             <p class="answer">Den tid det tar för Baljan att packa din order beror på hur mycket ordar som ligger före i kön.
             Under populära perioder (som under högtider) kan det ta längre tid än annars. </p>
        </div>
    </div>
     <!--question 4 -->
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 question-wrapper">
            <p class="question">Är det socialt accepterat att skicka en gåva till sig själv?</p>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 plus" id="plus-4">
            <p><strong>+</strong></p>
        </div>
         <div class="col-md-1 col-sm-1 col-xs-1 minus" id="minus-4">
            <p><strong>-</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 answer-wrapper" id="answer-4">
             <p class="answer">Självklart är det accepterat! Att unna sig en gåva då och då borde vara lag, tycker vi.
             Om du ändå tycker att det är lite jobbigt kan du välja att skicka gåvan anonymt. </p>
        </div>
    </div>
     <!--question 5 -->
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 question-wrapper">
            <p class="question">Ingen av ovanstående svar hjälpte mig, vad gör jag?</p>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 plus" id="plus-5">
            <p><strong>+</strong></p>
        </div>
         <div class="col-md-1 col-sm-1 col-xs-1 minus" id="minus-5">
            <p><strong>-</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 answer-wrapper" id="answer-5">
             <p class="answer">Hittar du inte svaret du söker? Tveka inte att kontakta oss! Du hittar våra kontaktuppgifter
                 på kontaktsidan.</p>
        </div>
    </div>
</div>

</div>
</body>
</html>

<script src="/static/js/faq.js"></script>