<div class="container" id="list-container">
    <div class="row">
        <div class="col-md-1" style="width: 4.16666667%"></div>
        <div class="col-md-3">
            <div class="a">
                <img src="static/gift_box_icon.png" style="cursor: default;">
                <p class="text-center">Välj vilken gåva du vill skicka </p>
            </div>
        </div>
        <div class="col-md-1">
            <img src="static/right_arrow_icon2.png" hspace="12" style="cursor: default;">
        </div>
        <div class="col-md-3">
            <div class=" a">
                <img src="static/credit_card_icon2.png" style="cursor: default;">
                <p class="text-center">Fyll i mottagarens uppgifter och betala</p>
            </div>
        </div>
        <div class="col-md-1">
            <div>
                <img src="static/right_arrow_icon2.png" hspace="12" style="cursor: default;">
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="static/phone_love.png" style="cursor: default;">
                <p class="text-center">Mottagaren får ett unikt sms och kan hämta ut sin present i Baljan direkt </p>
            </div>
        </div>
    </div>
</div>

