<link href="static/css/guide.css" rel="stylesheet" type="text/css">

<div class="container">
    <h1> Såhär fungerar Baljangåvan </h1>
    <div class="row">
        <div class="col-md-3">
            <div class="hovereffect a">
                <a href="#" class="img-button" id="products">
                    <img src="static/gift_box_icon.png">
                </a>
                <p class="text-center">Välj vilken gåva du vill skicka </p>
            </div>
        </div>
        <div class="col-md-1">
            <img src="static/right_arrow_icon.png" width="80">
        </div>
        <div class="col-md-3">
            <div class="hovereffect a">
                <img src="static/credit_card_icon.png">
                <p class="text-center">Fyll i mottagarens uppgifter och betala</p>
            </div>
        </div>
        <div class="col-md-1">
            <img src="static/right_arrow_icon.png" class="padding" width="80">
        </div>
        <div class="col-md-3">
             <div class="hovereffect">
                 <img src="static/phone_love.png">
                 <p class="text-center">Mottagaren får ett unikt sms och kan hämta ut sin present i Baljan direkt </p>
             </div>
        </div>
    </div>
</div>


