<div class="row" style="text-align: center; position: relative;">
    <div>
        <video width="800" loop="true" autoplay="autoplay">
            <source src="/static/baljan.mp4" type="video/mp4">
        </video>
        <div class="caption">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 landing-page-caption">
                Med Baljangåvan kan du enkelt skicka gåvor till dina nära och kära på universitetet</div>
        </div>
    </div>
</div>
<div class="row guide-text-container">
    <div class="col-md-2 col-md-offset-3 col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-0">
        <div class="guide-text text-center">
            <p>Välj gåva</p>
        </div>
        <div class="guide-image">
            <div class="guide-dot">
                <i class="fas fa-credit-card guide-icon fa-3x bounce"></i>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4">
        <div class="guide-text text-center">
            <p>Vi slår in</p>
        </div>
        <div class="guide-image">
            <div class="guide-dot">
                <i class="fas fa-gift guide-icon fa-3x bounce"></i>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4">
        <div class="guide-text text-center">
            <p>Din vän hämtar</p>
        </div>
        <div class="guide-image">
            <div class="guide-dot">
                <i class="fas fa-heart guide-icon fa-3x bounce"></i>
            </div>
        </div>
    </div>
</div>
<p></p>