<link href="/static/css/order_info.css" rel="stylesheet" type="text/css">


<h1 id="order_label" align="center">Skriv in ordernummer för att visa order</h1>

<div id="token_form" align="center">
    <form id="token-form"  class="flex-form" action="/order" method="get">

        <div id="token-div" class="col-md-2 col-md-offset-1">
            <input id="token_input" class="token-input" type="text" name="token" placeholder="Ordernummer" style="font-size: 50px;
            border: 0; border-bottom: 2px solid black">
        </div>
        <div id="button-div" class="col-md-2 col-md-offset-4" style="height: 76px; width: 76px;
        padding-left: 0px; padding-right: 0px; margin-left: 352px">
            <input id="submit_btn" type="submit" value="Sök" style="background-color: #38A7E5">
        </div>
    </form>
</div>

