<link href="/static/css/order_info.css" rel="stylesheet" type="text/css">


<h1 id="order_label" align="center">Skriv in ordernummer för att visa order</h1>

    <form id="token-form"  class="flex-form" method="get">
            <div align="center" style="margin-top: 10%">
                <div align="center" style="width: 53%">
                    <input id="token_input" class="token-input" type="text" name="token" placeholder="Ordernummer" style="font-size: 3.5vw;
                     border: 0; width: 80%; white-space: nowrap; border-bottom: 2px solid black">
                    <input id="submit_btn" type="submit" value="Sök" style="background-color: #38A7E5; font-size: 250%;
                    color: #FFFFFF; border: 0; height: 200%; padding-bottom: 1%">
                    <p id="error-text" style="color: crimson; font-size: 1.5vw; padding-left: 1vw" align="left">Ordernumret du angav existerar ej!</p>
                </div>
            </div>

    </form>

    <div id="token-result">

        <h1 id="main_infp">
            Du skickade gåvan
            <span id="name_info" style="color: crimson"></span>
             till
            <span id="receiver_name" style="color: crimson"></span>
             (<span id="receiver_phone" style="color: crimson"></span>)
             med följande meddelande:
             <span id="msg_id" style="color: crimson"></span>
        </h1>

        <h1 id="main_info2">
            Nuvarande status på din order:
             <span id="status_id" style="color: crimson"></span> <br />
            Priset på din order:
            <span id="price_id" style="color: crimson"></span> kr
        </h1>
    </div>



<script>

    $(document).ready(function() {
        $("#error-text").hide();
        $("#token-result").hide();
    });


    $("#token-form").submit(function(ev){

        console.log("går in i script");
        ev.preventDefault();
        var token_from_input = $("#token_input").val();
        var url = "api/v1/order_token/" + token_from_input;

        $.getJSON(url, function(data){
            if(data === "error"){
                $("#error-text").show();
                $("#token-result").hide();
                console.log("failure")
            }else{
            console.log("successs")
            $("#token-result").show();
            $("#error-text").hide();

            retrieveData(data);
            }
        });
    });

    function retrieveData(data){
            var values = [];
            var gift_data;
            var receiver_data;
            var msg_val;
            var price_val;
            var status_val;
        
         $.each(data, function( key, val ) {
            if(key==="giftbox_id"){
                var giftbox_val = val;
                var url = "api/v1/giftbox/" + giftbox_val;
                $.getJSON(url, function (data) {
                gift_data = data;
                });
                setTimeout(function wait2sec(){
                    console.log(gift_data.name)
                },100)

            }else if(key==="receiver_id"){
                var receiver_val = val;
                var url = "api/v1/receiver/" + receiver_val;
                $.getJSON(url, function (data) {
                receiver_data = data;
                });
                 setTimeout(function wait2sec(){
                    console.log(receiver_data.name)
                    console.log(receiver_data.phone)

                },100)

            }else if(key==="date"){
                var date_val = val;
            }else if(key==="message"){
                 msg_val = val;
                console.log(msg_val)

            }else if(key==="price"){
                 price_val = val;
                console.log(price_val)

            }else if(key==="status"){
                 status_val = val;
                console.log(status_val);

            }
            setTimeout(function () {
                /*document.getElementById("info_text1").innerText = "Du skickade gåvan " + gift_data.name + " till "
                + receiver_data.name + "(" + receiver_data.phone + ") med följande meddelande: " + msg_val;

                document.getElementById("info_text2").innerText = "Nuvarande status på din order: " + status_val + "\n"
                + "Priset på din order: " + price_val + " kr.";*/

                document.getElementById("name_info").innerText = gift_data.name;
                document.getElementById("receiver_name").innerText = receiver_data.name;
                document.getElementById("receiver_phone").innerText = receiver_data.phone;
                document.getElementById("msg_id").innerText = msg_val;
                document.getElementById("status_id").innerText = status_val;
                document.getElementById("price_id").innerText = price_val;


            },100)


            });
    }


</script>

