<script src="/static/js/order_info.js"></script>

<link href="/static/css/order_info.css" rel="stylesheet" type="text/css">


<h1 id="order_label" align="center">Skriv in ordernummer för att visa order</h1>

    <form id="token-form"  class="flex-form" method="get">
            <div align="center" style="margin-top: 10%">
                <div align="center" style="width: 53%">
                    <input id="token_input" class="token-input" type="text" name="token" placeholder="Ordernummer" style="font-size: 3.5vw;
                     border: 0; width: 80%; white-space: nowrap; border-bottom: 2px solid black">
                    <input id="submit_btn" type="submit" value="Sök" style="background-color: #38A7E5; font-size: 250%;
                    color: #FFFFFF; border: 0; height: 200%; padding-bottom: 1%">
                    <p id="error-text" style="color: crimson; font-size: 1.5vw; padding-left: 1vw" align="left">Ordernumret du angav existerar ej!</p>
                </div>
            </div>

    </form>

    <div id="token-result">

        <h1 id="main_infp">
            Du skickade gåvan
            <span id="name_info" style="color: crimson"></span>
             till
            <span id="receiver_name" style="color: crimson"></span>
             (<span id="receiver_phone" style="color: crimson"></span>)
             med följande meddelande:
             <span id="msg_id" style="color: crimson"></span>
        </h1>

        <h1 id="main_info2">
            Nuvarande status på din order:
             <span id="status_id" style="color: crimson"></span> <br />
            Priset på din order:
            <span id="price_id" style="color: crimson"></span> kr
        </h1>
    </div>

<div id='status-container' style="display:none;" class="row guide-text-container">
    <div class="col-md-2 col-md-offset-3 col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-0">
        <div class="guide-text text-center">
            <p id='status-0'>Ett sms har blivit skickat till mottagaren</p>
        </div>
        <div class="guide-image">
            <div id='status-0-circle' class="guide-dot">
                <i class="fas fa-envelope guide-icon fa-3x bounce"></i>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4">
        <div class="guide-text text-center">
			<p id='status-1'>Gåvan håller på att packas av Baljan</p><br>
        </div>
        <div class="guide-image">
            <div id='status-1-circle' class="guide-dot">
                <i class="fas fa-coffee guide-icon fa-3x bounce"></i>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4">
        <div class="guide-text text-center">
            <p id='status-2'>Gåvan har blivit uthämtad av mottagaren</p>
        </div>
        <div class="guide-image">
            <div id='status-2-circle' class="guide-dot">
                <i class="fas fa-gift guide-icon fa-3x bounce"></i>
            </div>
        </div>
    </div>
</div>
