<link href="/static/css/products.css" rel="stylesheet" type="text/css">


<div class="container" id="list-container">
    <div>
        Detta är en sida om produkter.
    </div>

    <h2 style="margin-bottom: 30px">Alla produkter</h2>
    {% for giftbox in GiftBoxes %}
        <div class="col-md-4" onclick="loadcard('{{giftbox.id}}')" >
            <div class="hovereffect">
                <a href="#" target="_blank">
                    <img src={{ giftbox.image }} alt="Lights" class="image"
                         style="width:350px; height:250px; margin-bottom: 30px;border-radius: 25px;">
                    <div class="overlay" onclick="return false">
                        <h2>{{ giftbox.name }}</h2>
                        <p>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
</div>

<script src="/static/js/products.js"></script>