<link href="/static/css/products.css" rel="stylesheet" type="text/css">

<div class="container-fluid">
    {% for giftbox in GiftBoxes %}
        <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" id="{{ giftbox.id }}" data-toggle="modal" data-target="#myModal" style="position: center">
            <div class="hovereffect">
                <div class="product-view">
                    <img src={{ giftbox.image }} alt="Lights" class="image">
                    <div class="price-dot">
                        <h3 id="price_label" style="margin-left: 0.6vw; margin-top: 1.2vw">{{ giftbox.price }}:-</h3>
                    </div>
                    <div class="overlay" onclick="return false">
                        <h2 id="name_label">{{ giftbox.name }}</h2>
                        <p><a></a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Mod -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-md">
        <div class="modal-content color">
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button id="close-modal-button" type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/products.js"></script>
