#main-container {
    min-height: 100%;
    overflow: auto;
}

footer {
    position: relative;
    height: auto;
    width: 100%;
    background: #c5c3c5;
    display: inline-block;
    clear: both;
    bottom: -5px;

}


.legality {
    margin: auto;
    width: 700px;
    text-align: center;
    clear: both;
    font: 10pt verdana;
    line-height: 2em;
    padding: 20px 0 0 0;
}

footer a {
    color: black;
}

footer a:hover {
    cursor: pointer;
    color: black;
}


ul {
    list-style: none;
    display: inline-block;
    text-align: left;
}


html, body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;

}

h3 {
    font-weight: normal;
    font: 12pt Georgia;
    text-transform: uppercase;
    color: #f2f2f2;
}

p {
    color: black;
}




header{
    height: 80px;
    background: #38A7E5;
    border-bottom: 3px solid #E7008A;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo_text{
    float: left;
    padding: 10px 0;

}

.logo_gift{
    float: left;
    padding: 15px 0;

}

.logo_text:hover{
    cursor: pointer;
}

.logo_gift:hover{
    cursor: pointer;
}

img:hover{
    cursor:pointer;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;
    position: relative;
}

nav b{
    color: #E7008A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
nav b:hover{
    color: #000;
    cursor: pointer;
}

nav b:before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #E7008A;
    position: absolute;
    top: 27px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav b:hover::before {
    width: 100%;
}

.image-with-caption {
    position: relative;
}
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}