#main-container-wrapper {
    min-height: 100%;
}

#main-container {
    overflow: auto;
    padding-bottom: -100px;
}


footer {
    position: relative;
    height: auto;
    width: 100%;
    background: #c5c3c5;
    display: inline-block;
    clear: both;
    margin-top: 100px;

}


.legality {
    margin: auto;
    width: 700px;
    text-align: center;
    clear: both;
    font: 10pt verdana;
    line-height: 2em;
    padding: 20px 0 0 0;
}

footer a {
    color: black;
}

footer a:hover {
    cursor: pointer;
    color: black;
}


ul {
    list-style: none;
    display: inline-block;
    text-align: center;
}


html, body {
    height: 100%;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;

}

h3 {
    font-weight: normal;
    font: 12pt Georgia;
    text-transform: uppercase;
    color: #f2f2f2;
}

.above-nav h1 {
    font: 36pt SansSerif;
    color: black;
}

.above-nav {
    text-align: center;
    height: 100px;
    margin-bottom: 20px;
}

p {
    color: black;
}

.nav-wrapper{
    height: 30px;
    background: white;
}

.nav-wrapper::after{
    content: '';
    display: table;
    clear: both;
}


.logo-text:hover{
    cursor: pointer;
}

nav {
    width: 100%;
    background-color: white;
    font-weight: bold;
    letter-spacing: 0.025em;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 20px;
    line-height: 0;

}

nav ul li {
    border-right: 2px solid #000;
}

nav li:last-of-type {
    border-right: none;
}

nav b{
    color: #000000;
    font: 12pt Georgia;
    text-transform: uppercase;
    font-size: 18px;
}

nav b:hover {
    cursor: pointer;
}

.image-with-caption {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.active {
    border-bottom: 2px solid black;
}

/*
nav b:before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #000000;
    position: absolute;
    top: 27px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav b:hover::before {
    width: 100%;
}


*/
