#main-container-wrapper {
    min-height: 100%;
}

#main-container {
    overflow: auto;
    padding-bottom: -100px;
    margin-top: 70px;
}


footer {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #8C2C2F;
    display: inline-block;
    clear: both;
    margin-top: 100px;
}


.legality {
    margin: auto;
    width: 700px;
    text-align: center;
    clear: both;
    font: 10pt verdana;
    line-height: 2em;
    padding: 20px 0 0 0;
    color: #F2A78B;
}

footer p{
    color: #FAEEEB;
}

footer a {
    color: hsl(13, 58%, 95%);
}

footer a:hover {
    cursor: pointer;
    color: hsl(13, 58%, 95%);
}

ul {
    list-style: none;
    display: inline-block;
    text-align: center;
}


html, body {
    height: 100%;
    margin: 0;
}

footer h3 {
    font-size: 13pt;
    color: #f2a78a;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
}

h2 {
    font-family:'Lato', sans-serif;
    font-size: 18pt;
}

h3 {
    font-family:'Lato', sans-serif;
}

p {
    font-family: 'Open sans', sans-serif ;
    font-size: 11pt;
    color: Black;
}

a {
    font-family: 'Open sans', sans-serif ;
    font-size: 11pt;
}

.uppercase {
    text-transform: uppercase;
}

.logo-text{
    display: inline-block;
    float: left;
    margin-left: 50px;
    color: #FFFFFF;
    font-size: 22pt;
    font-family: 'Gloria Hallelujah', cursive;
}

.logo-text:hover {
    text-decoration: none;
    color: #FFFFFF;
}


.nav-wrapper{
    height: 50px;
}

.nav-wrapper::after{
    content: '';
    display: table;
    clear: both;
}

header{
    background: #F2A78B;
    height: 70px;
    padding-top: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10
}

nav {
    width: 100%;
    letter-spacing: 0.025em;
    text-align: right;
}

nav ul {
    margin: 0;
    padding-top: 10px;
}

nav ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 20px;
    line-height: 15px;

}

nav ul li {
    border-right: 1px solid #FFFFFF;
}

nav li:last-of-type {
    border-right: none;
}

nav a{
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 789px) {
    nav a {
        font-size: 1.2em;
    }
}

@media (max-width: 788px) {
    nav a {
        font-size: 1em;
    }

    .logo-text {
        font-size: 1.5em;
    }
}

.image-with-caption {
    position: relative;
}

.caption {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}

.active {
    border-bottom: 2px solid #FFFFFF;
}

.nav-item a:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    text-decoration: none;
}

.nav-item a:after {
    border-bottom: 2px solid #FFFFFF;
}

.social-media {
    height: 70px;
}

.color {
    background-color: #FAEEEB;
}