#main-container-wrapper {
    min-height: 100%;
}

#main-container {
    overflow: auto;
    padding-bottom: -100px;
    margin-top: 80px;
}


footer {
    position: relative;
    height: auto;
    width: 100%;
    background: #c5c3c5;
    display: inline-block;
    clear: both;
    margin-top: 100px;
}


.legality {
    margin: auto;
    width: 700px;
    text-align: center;
    clear: both;
    font: 10pt verdana;
    line-height: 2em;
    padding: 20px 0 0 0;
}

footer a {
    color: black;
}

footer a:hover {
    cursor: pointer;
    color: black;
}

ul {
    list-style: none;
    display: inline-block;
    text-align: center;
}


html, body {
    height: 100%;
    margin: 0;
    background-color: white;
}

footer h3 {
    font-size: 13pt;
    color: #f2f2f2;
}

h1 {
    font-family:'Lato', sans-serif;
    font-size: 44pt;
}

h2 {
    font-family:'Lato', sans-serif;
    font-size: 18pt;
}

h3 {
    font-family:'Lato', sans-serif;
}

p {
    font-family: 'Open sans', sans-serif ;
    font-size: 11pt;
    color: black;
}

a {
    font-family: 'Open sans', sans-serif ;
    font-size: 11pt;
}

.uppercase {
    text-transform: uppercase;
}

.logo-text{
    display: inline-block;
    float: left;
    margin-left: 100px;
    color: #000000;
    font-size: 22pt;
}

.nav-wrapper{
    height: 50px;
}

.nav-wrapper::after{
    content: '';
    display: table;
    clear: both;
}

header{
    background: #c5c3c5;
    height: 70px;
    padding-top: 15px;
    border-bottom: 1px solid #c5c3c5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10
}

nav {
    width: 100%;
    letter-spacing: 0.025em;
    text-align: right;
}

nav ul {
    margin: 0;
    padding-top: 10px;
}

nav ul li {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 20px;
    line-height: 15px;

}

nav ul li {
    border-right: 1px solid #000;
}

nav li:last-of-type {
    border-right: none;
}

nav a{
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.image-with-caption {
    position: relative;
}

.caption {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}

.active {
    border-bottom: 2px solid black;
}

.nav-item a:hover {
    color: black;
    border-bottom: 2px solid black;
    text-decoration: none;
}