.footer {
    border-top: 3px solid #E7008A;
    position: absolute !important;
    height: 100px;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background: #38A7E5;
    display: inline-block;
    top: 130%;

}

ul {
    list-style: none;
    display: inline-block;
    text-align: left;
}

ul li a{
    font-family: "Helvetica Neue";
    color: black;
}

ul li a:hover{
    cursor:pointer;
}

html, body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
}



header{
    height: 80px;
    background: #38A7E5;
    border-bottom: 3px solid #E7008A;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo_text{
    float: left;
    padding: 10px 0;

}

.logo_gift{
    float: left;
    padding: 15px 0;

}

.logo_text:hover{
    cursor: pointer;
}

.logo_gift:hover{
    cursor: pointer;
}

img:hover{
    cursor:pointer;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;
    position: relative;
}

nav b{
    color: #E7008A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
nav b:hover{
    color: #000;
    cursor: pointer;
}

nav b:before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #E7008A;
    position: absolute;
    top: 27px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav b:hover::before {
    width: 100%;
}

.image-with-caption {
    position: relative;
}
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}