* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.button1 {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    font-size: 1em;
    padding: 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin-right: 2em;
    border-radius: 50%;
    height: 6em;
    width: 6em;

}

.button1:hover:not(.disabled) {
    background: #fff;
    color: #1AAB8A;
    opacity: 0;
}

.button1:before, button:after:not(.disabled) {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.button1:after:not(.disabled) {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.button1:hover:before, button:hover:after:not(.disabled) {
    width: 100%;
    transition: 800ms ease all;
}

.disabled {
    cursor: not-allowed;
}

/*.button {
    background-color: #008CBA; !* Green *!
    background-image: linear-gradient(#46e04a,#1a9c18 85%,#288208) !important;

    border: none;
    color: white;
    margin-right: 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    padding: 2%;
}



.button:active:enabled {
    transform: translateY(4px);
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}*/

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 35%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* Style the header */
.header {
    padding: 10px;
    text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    font-size: 18px;
}

/*.stripe-button {
    position: absolute;
    transition: .5s ease;
    left: 202px;
    top: 198px;
}*/

#fusk {
    position: absolute;
    transition: .5s ease;
    left: 202px;
    top: 198px;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.error-text {
    color: red;
}

.current-product {
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
    border-radius: 25px;
    padding-right: 0px "
}

#hider {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1600px;
    height: 2000px;
    margin-top: -800px; /*set to a negative number 1/2 of your height*/
    margin-left: -500px; /*set to a negative number 1/2 of your width*/
    /*
       z- index must be lower than pop up box
      */
    z-index: 99;
    background-color: lightgrey;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#swish {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 100%;
    max-width: 20em;
    height: 30em;
    margin-top: -5em; /*set to a negative number 1/2 of your height*/
    margin-left: -5em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    border: 2px solid deepskyblue;
    z-index: 100;
    background-color: #FFFFFF;
    text-align: center;
}

#swish-image {
    width: 15em;
    height: auto;
    margin-top: -1.4em;
}

#swish-footer {
    z-index: 101;
    position: relative;
    margin-top: 2em;
}

#swish-phone {
    position: absolute;
}

#swish-content {
    z-index: 101;
    margin-top: -1em;
    width: 19.7em;
    text-align: center;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-top: 1em;
}

input.swish-phone-input:focus {
    outline-width: 0;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gift-information h3 {
    font-weight: normal;
    font: 12pt Georgia;
    color: #000000;
}

.gift-information h2 {
    font: 18pt Georgia;
    text-transform: uppercase;
}

.description {
    font-style: italic;
}

#swish-image-wrapper {
    height: 25em;
}

#submit-wrapper {
    width: 13.5em;
    padding-top: 1em;
}

#swish-phone-form {
    width: 100%;
}

#input-wrapper {
    width: 100%;
    alignment: center;
}

#buyer-phone {
    font-size: 1.2vw;
    border: 0;
    width: 80%;
    white-space: nowrap;
    border-bottom: 2px solid black;
    text-align: center;
    border-radius: 0;
}

#submit-input {
    background-color: #38A7E5;
    font-size: 1.5vw;
    color: #FFFFFF;
    border: 0;
}

#swish-footer button {
    background-color: #38A7E5;
    font-size: 1vw;
    color: #FFFFFF;
    border: 0;
    border-radius: 0.3vw;
}

.stripe-button-el {
    visibility: visible;
    margin-top: 1em;
}

.swish-text {
    display: block;
    min-height: 30px;
}

#message {
    height: 100px
}

#swish-button {
    margin-left: -1.1em;
}
