.contact-site  {
    margin-top: 100px;
}

.contact-wrapper {
    text-align: left;
    height: auto;
    padding: 30px 20px 30px 20px;
    width: 100%;
    margin-top: 60px;
}

.contact-top {
    width: 500px;
    height: 40px;
    border: 2px solid #333;
    text-align: center;
    font-size: 25px;
    background-color: #7FFFD4;
}

.contact-wrapper p {
    max-width: 800px;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    padding: 10px 15px;
    margin: 0;
}

.contact-wrapper b {
    line-height: 100%;
}

.contact-bottom {
    width: 500px;
    border: 1px solid #333;
}

.contact-img {
    cursor: pointer;
    width: 70px;
    margin-top: 20px;
    text-align: center;
}

.contact-text-short {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
}

.contact-info {
    margin: 0 auto;
    border: 2px dashed #eb976f;
    background-color: #ead5cb;
    border-radius: 25px;
    width: 100%;
    min-height: 200px;
    text-align: center;
    display: inline-block;
    padding: 20px;
    align-self: center;
}
