.wrapper {
    max-width: 800px;
    margin-top: 50px;
}

.title-wrapper{
    height: 80px;
    margin-top: 40px;
    text-align: center;

}

.faq-wrapper {
    text-align: left;
    width: 100%;
    padding: 30px 20px 30px 20px;
    background-color: white;
    margin-top: 60px;
}

.question {
    font-weight: bold;
}

.answer {
    font-style: italic;
}

.question-wrapper {
    border-top: 2px solid black;
    min-height: 3.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.answer-wrapper {
    padding: 10px;
}

.plus, .minus {
    border-top: 2px solid black;
    padding-top: 15px;
    text-align: right;
    cursor: pointer;

}

.plus, .minus p {
    font-size: 16px;
    margin-right: 0;
}
