.wrapper {
    max-width: 800px;
    border: solid black 2px;
    margin-top: 50px;
}

.title-wrapper{
    text-align: center;
    height: 200px;

}

.title-wrapper h1 {
    margin-top: 80px;
}

.faq-wrapper {
    text-align: center;
    width: 100%;
    padding: 30px 20px 30px 20px;
    background-color: white;
}

.question {
    font-weight: bold;
}

.answer {
    font-style: italic;
}
