
.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.3);
    -webkit-filter: brightness(0.3);
}

#list-container{
    margin-top: 100px;
    margin-top: 100px;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.3);
    -webkit-filter: brightness(0.3);
}

.a {
    width: 256px;

}

.arrow-up {
    margin-top: 50px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #eb976f;

}

.guide-explanation {
    margin: 0 auto;
    border: 2px dashed #8C2C2F;
    background-color: #FFE1D1;
    border-radius: 25px;
    width: 100%;
    min-height: 200px;
    text-align: center;
    display: inline-block;
    padding: 20px;
    align-self: center;
}

.centered {
    display: flex;
    flex-direction: column;
}

.guide-text-short {
    margin-top: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;

}

#surprise {
    margin-left: 30px;
}

.vl {
    margin-top: 20px;
    border-left: 2px dashed #8C2C2F;
    height: 50px;
    align-self: center;
}

.guide-img {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .guide-img {
        width: 90%;
    }

    .arrow-img {
        width: 90%;
    }
}

.get-started {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 40px;
    left: 50%;
}

.a {
    width: 256px;
}

.get-started a {
    color: black;
    text-decoration: underline;
}

.get-started a:hover {
    color: black;
}

.first-col {
    width: 4.16666667%;
}


