    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

    .hovereffect:hover img {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
        filter: brightness(0.3);
        -webkit-filter: brightness(0.3);
    }

    .text {
        text-align: center;
    }

    .a {
        width: 256px;
    }

   .middle {
        vertical-align: middle;
        height: 256px;
    }
