

.order-info-container {
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#token_form {
    padding-top: 20%;
}

input{
    box-sizing: border-box;
    position: relative;
    width: fit-content;
}


input.token-input:focus {
    outline-width: 0;
}

.guide-text-container {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #000000;
    padding-top: 30px;
}

.guide-text {
    border-bottom: 2px solid lightgray;
    min-height: 105px;
}

.guide-image {
    margin-top: 10px;
}

.arrow-right {
	margin-top: 70%;
}

.guide-icon {
    z-index: 2;
    height: 100%;
    margin-top: 30%;
    margin-bottom: auto;
}

.guide-dot {
    z-index: 1;
    height: 0;
    padding-bottom: 100%;
    background-color: lightgray;
    border-radius: 50%;
}

.canceled {
    background-color: red;
}

.bounce:hover {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.3s 0.0s infinite linear;
  -o-animation: bounce 0.3s 0.0s infinite linear;
  -webkit-animation: bounce 0.3s 0.0s infinite linear;
  animation: bounce 0.3s 0.0s infinite linear;
  colr:000;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em }
    70% { top: -0.3em }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top:  0;}
    50% { top: -0.2em }
    70% { top: -0.3em }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0;}
    50% { top: -0.2em }
    70% { top: -0.3em }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0;}
    50% { top: -0.2em }
    70% { top: -0.3em }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0;}
    50% { top: -0.2em }
    70% { top: -0.3em }
    100% { top: 0; }
}

#order_label {
    margin-top: 100px;
}

.token-input {
    font-size: 22pt;
    border: 0;
    width: 80%;
    white-space: nowrap;
    border-bottom: 2px solid black;
}

#submit_btn {
    background-color: #468ca9;
    font-size: 200%;
    color: #FFFFFF;
    border: 0;
    height: 200%;
    padding-bottom: 1%;
    border-radius: 10px;
}

.token-input-inner {
    align-self: center;
    width: 53%;
    text-align: center;

}

.token-input-outer {
    display: flex;
    flex-direction: column;
    margin-top: 10%;

}

#error-text {
    color: crimson;
    padding-top: 30px;
}

#token-result {
    max-width: 400px;
    text-align: left;
    margin: auto;
    padding: 30px;
    border: 2px dashed #eb976f;
    border-radius: 25px;

}

.vertical-line {
    border-left: 2px dashed #eb976f;
    height: 50px;
    align-self: center;

}

#status-0-circle, #status-1-circle, #status-2-circle {
    opacity: 0.4;
}

#status-0, #status-1, #status-2 {
    opacity: 0.4;
}

