

#order_label {
    font-family: "Century Gothic";
    font-size: 50px;
    color: #38A7E5;

}

#token_form {
    padding-top: 20%;
}

input{
    box-sizing: border-box;
    position: relative;
    width: fit-content;
}


input.token-input:focus {
    outline-width: 0;
}