.order-info-container {
    max-width: 800px;
    text-align: center;
}

#token_form {
    padding-top: 20%;
}

input{
    box-sizing: border-box;
    position: relative;
    width: fit-content;
}


input.token-input:focus {
    outline-width: 0;
}

.flex-form input {
    font-family: 'Open sans', sans-serif;
}

#order_label {
    margin-top: 100px;
}

.token-input {
    font-size: 22pt;
    border: 0;
    width: 80%;
    white-space: nowrap;
    border-bottom: 2px solid black;
}

#submit_btn {
    background-color: #468ca9;
    font-size: 250%;
    color: #FFFFFF;
    border: 0;
    height: 200%;
    padding-bottom: 1%;
}

